{% load staticfiles %}
<html>
<head>
<link href="{% static 'css/index.css' %}" rel="stylesheet" type="text/css" />
<base href="./img/pagetitle.ico" />
<title>商品通--领先的工业原材料综合电商平台</title>
</head>
<body>
	<div>
		<div >
			<ul>
				<li left: 30px;><a href="#">首页</a></li>
				<li left: 30px;><a href="#">贸易区</a></li>
				<li left: 40px;><a href="#">在线客服</a></li>
				<li left: 45px;><a href="#">新闻/公告</a></li>
				<li left: 50px;><a href="#">关于我们</a></li>
				<li left: 55px;><a href="#">App下载</a></li>
				<li left: 60px;><a href="#">登陆</a></li>
				<li left: 65px;><a href="#">注册</a></li>
			</ul>
		</div>
		
		
	</div>
</body>
</html>